<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Book</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Create a Book:</h1>
       
      <!--  
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}         
         -->
          
      <form th:action="@{/addBook}"
         th:object="${book}" method="POST">
         Title:
         <input type="text" th:field="*{title}" />
         <small  data-th-if="${#fields.hasErrors('title')}" data-th-errors="*{title}"></small>    
         <br/>
         Author:
         <input type="text" th:field="*{author}" />   
         <small  data-th-if="${#fields.hasErrors('author')}" data-th-errors="*{author}"></small>  
         <br/>
         Description:
         <input type="text" th:field="*{description}" />     
         <br/>
         <input type="submit" value="Create" />
      </form>
       
      <br/>
      
       
   </body>
</html>