<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Book List</title>
      
      <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
	   <div>
	      <span sec:authorize="isAuthenticated()">
	          | Logged user: <span th:text="${userInfo}"></span> |
	          <a th:href="@{/logout}">Sign Out</a>
	      </span>
	      <h1>Book List</h1>
	      <a href="addBook">Add Book</a>
	      <br/><br/>
	      
	      <div><input id="search-data" type="text" ></input><input id="search" type="button" value="Search"></input></div>
	      <br/>
	      
	      <table border="1">
	            <tr>
	               <th>Title</th>
	               <th>Author</th>
	               <th>Action</th>
	            </tr>
	            <tbody id="bookContent">
	            
	            </tbody>
	      </table>
	      <br />
	      <div id="pagingButton"></div>
	     </div>
      <script th:src="@{/js/jquery/jquery-2.1.1.js}"></script>
      <script th:src="@{/js/main.js}"></script>
     
   </body>
</html>