<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Book List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <span sec:authorize="isAuthenticated()">
          | Logged user: <span th:text="${userInfo}"></span> |
          <a th:href="@{/logout}">Sign Out</a>
      </span>
      <h1>Book List</h1>
      <a href="addBook">Add Book</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Title</th>
               <th>Author</th>
               <th>Action</th>
            </tr>
            <tr th:each ="book : ${books}">
               <td ><a th:href="@{'/bookDetail?bookId='+ ${book.bookId}}" th:utext="${book.title}"></a></td>
               <td th:utext="${book.author}">...</td>
               <td>
               	<a th:href="@{'/updateBook?bookId='+ ${book.bookId}}">Edit</a>
               	<a th:href="@{'/deleteBook?bookId='+ ${book.bookId}}">Delete</a>
               </td>
            </tr>
         </table>
      </div>
   </body>
</html>